.maze-bottom-bar {
  display: flex;
  justify-content: space-between;
}
.maze-bottom-bar__btn:disabled {
  cursor: not-allowed;
}
.info-container {
  position: absolute;
  background: #8fbc8f;
  transition: all 200ms ease-in-out;
  transform: translateY(-100%);
}
