.name-submit
  background green
  position: fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(170, 170, 170, .8)
  display flex
  justify-content center
  align-items start

.name-submit__box
  background rgb(110, 110, 110)
  padding 40px
  margin 20% auto

.name-submit__input
  margin 10px
  padding 10px
  background lightgray
  border none