.maze-path
  position: absolute
  top: 0
  left: 0
  pointer-events: none

.maze-path--pulse
  animation path--pulse 200ms 3 ease-in-out

@keyframes path--pulse
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1
