.menu-bar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.menu-bar__btn:disabled {
  cursor: not-allowed;
}
.menu-bar__section {
  display: flex;
}
.menu-bar__costs {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
.menu-bar__info {
  padding: 20px;
  position: absolute;
  background: #8fbc8f;
  transition: all 200ms ease-in-out;
  transform: translateY(-100%);
}
