@import url('https://fonts.googleapis.com/css?family=VT323');

body
  font-family 'VT323', monospace

.generic__btn
  font-family 'VT323', monospace
  margin: 0 5px
  border: none
  background: grey
  color: snow
  padding: 15px 15px 15px 15px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 1em
  cursor: pointer
