@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed");
body {
  font-family: 'Encode Sans Condensed', sans-serif;
}
input {
  font-family: 'Encode Sans Condensed', sans-serif;
}
.generic__btn {
  text-transform: uppercase;
  font-family: 'Encode Sans Condensed', sans-serif;
  margin: 0 5px;
  border: none;
  background: #808080;
  color: #fffafa;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}
