.leaderboard
  max-width 786px
  display flex
  flex-direction column
  justify-content center
  align-content center
  margin auto
  background lavender

.leaderboard__h1
  font-size 1.5em
  text-align center

.leaderboard__h2
  font-size 1em
  text-align center

.leaderboard__score
  display flex
  flex-direction row
  justify-content space-between

.leaderboard__column
  width 30%
  text-align center

.leaderboard__score-container
  margin auto
  width 80%
  background rgba(200, 200, 200, 0.2)
  padding 20px
  margin-bottom 20px
  border-top 1px solid black
  border-bottom 1px solid black

.leaderboard__form
  display flex
  justify-content center

.leaderboard__link
  margin: auto
  background none
  color black

.leaderboard__input
  background rgba(220, 220, 220, 0.7)
  border none
  padding 5px 10px

.leaderboard__btn
  margin 0