.leaderboard
  display flex
  flex-direction column
  justify-content center
  align-content center

.leaderboard__h1
  font-size 1.5em
  text-align center

.leaderboard__h2
  font-size 1em
  text-align center

.leaderboard__score
  display flex
  flex-direction row
  justify-content center

.leaderboard__column
  margin: 5px 50px

.leaderboard__divider
  height: 0
  border-bottom 1px solid grey
  margin 10px