.game-tile {
  position: relative;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-tile__pulse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 100, 0, 0.05)
  }
  50% {
    background-color: rgba(0, 100, 0, 0.30)
  }
  100% {
    background-color: rgba(0, 100, 0, 0.05)
  }
}

.game-tile__blocker-overlay {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}