.game-tile:hover {
  opacity: 0.8;
  outline: 1px solid grey;
  outline-offset: -1px;
}
.game-tile__pulse {
  animation: tile--pulse 4s infinite ease-in-out;
}
.game-tile__noevent {
  pointer-events:none;
}
@-moz-keyframes tile--pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.05;
  }
}
@-webkit-keyframes tile--pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.05;
  }
}
@-o-keyframes tile--pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.05;
  }
}
@keyframes tile--pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.05;
  }
}
