.tile {
    position: relative;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
}

.tile-blocker {
    background-color: red;
}

.blocker-polygon-overlay {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

.container-row {
    display: flex;
}

.score-board {
    text-align: center;
    font-size: 1em;
    color: black;
}

.button {
    border: none;
    color: darkgray;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.maze-path {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100%
}

.svg-paths {
    fill: none;
    fill-rule: evenodd;
    stroke-opacity: 0.8;
    stroke: #4E8D00;
    stroke-width: 4;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
}

.svg-paths-dashed {
    stroke-dasharray: 10;
}