.mazeview-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    max-height: 1500px;
    padding: 15px;
}

.tile {
    position: relative;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-pulse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: pulse 4s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        background-color: rgba(0, 100, 0, 0.05)
    }
    50% {
        background-color: rgba(0, 100, 0, 0.30)
    }
    100% {
        background-color: rgba(0, 100, 0, 0.05)
    }
}

.blocker-polygon-overlay {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

.container-row {
    display: flex;
}

.game-board {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.btn-generic {
    border: none;
    color: darkgray;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}

.btn-generic:disabled {
    cursor: not-allowed;
}

.maze-path {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.header-container :first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-container :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container :last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#info-container {
    position: absolute;
    background: darkseagreen;
    transition: all 200ms ease-in-out;
    transform: translateY(-100%);
}

#footer-buttons {
    display: flex;
    justify-content: space-between;
}