.FiledTile {
    height: 40px;
    width: 40px;
    background-color: red;
    flex: auto;
}

.EmptyTile {
    height: 40px;
    width: 40px;
    background-color: gray;
    flex: auto;
}

.StartTile {
    height: 40px;
    width: 40px;
    background-color: green;
    flex: auto;
}

.EndTile {
    height: 40px;
    width: 40px;
    background-color: red;
    flex: auto;
}

.RowContainer {
    display: flex
}